<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>
        Signup page 
    </title>
   
</head>
<body>
    <div id="content" class="pt-16">
       

       
        <div class="grid  grid-cols-12">
            <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">

                <!-- 6 ki space le rhi h-->
                  <!--card-->                
<div 
 class="block  p-6 border-t-4 border-gray-500 bg-white  rounded-lg shadow hover:bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:hover:bg-gray-700">

 <!--MESSAGE HERE-->

 <div data-th-replace="message::messagebox"></div>



 <!--heading-->
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        Signup Here
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
       start managing contacts
    </p>



    <!--form-->
    <form
     data-th-action="@{'/do-register'}" 
     method="post"  
     data-th-object="${userForm}"
     class="mt-4"
     novalidate>
        <!--- name-->
        <div class="mb-3">
            <label
             for="name" class="block mb-2 text-sm font-medium text-gray-800 dark:text-white"
             
             >
            Name
            </label>
            <input 
            type="text"
             id="name" 
             data-th-field="*{name}"
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Enter Your Name" required />
              <p 
              
              data-th-errors="*{name}"
              data-th-if ="${#fields.hasErrors('name')}"
              class="text-red-600  text-sm px-1 py-1">
              Name is required
            </p>
          </div>

          <!---email-->
          <div class="mb-3">
            <label
             for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Email
            </label>
            <input
            data-th-field="*{email}"
             type="email"
             id="email" 
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Enter Your Email " required />
              <p 
              
              data-th-errors="*{email}"
              data-th-if ="${#fields.hasErrors('email')}"
              class="text-red-600  text-sm px-1 py-1">
             
            </p>
          </div>

           <!---password-->
           <div class="mb-3">
            <label
             for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Password
            </label>

            <input
            data-th-field="*{password}"
             type="password"
             id="Password"
               
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Create your Password " required />
              <p 
              
              data-th-errors="*{password}"
              data-th-if ="${#fields.hasErrors('password')}"
              class="text-red-600  text-sm px-1 py-1">
              Name is required
            </p>
          </div>
           <!---phone number-->
           <div class="mb-3">
            <label
             for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Contact Number
            </label>
            <input
            data-th-field="*{phoneNumber}"
             type="text"
             id="phone" 
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Contact Number " required />
              <p 
              
              data-th-errors="*{phoneNumber}"
              data-th-if ="${#fields.hasErrors('phoneNumber')}"
              class="text-red-600  text-sm px-1 py-1">
              Name is required
            </p>
          </div>

          <!--- abouttext area -->

          <div class="mb-3">                 
<label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
   Write  something about yourself
</label>

<textarea
data-th-field="*{about}"
 id="message"
 rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
 placeholder="Write here...">
</textarea>
<p 
              
              data-th-errors="*{about}"
              data-th-if ="${#fields.hasErrors('about')}"
              class="text-red-600  text-sm px-1 py-1">
            
            </p>



 <div class="mb-4 flex flex-col items-center space-y-3">
    <!-- Title or Content Above -->
    <p></p>

    <!-- Button Group -->
    <div class="flex justify-center space-x-3">
        <button
        type="submit"
         class="px-2.5 py-2 rounded-lg bg-gray-700 text-white hover:bg-gray-800 dark:bg-blue-700 dark:hover:bg-blue-800">
            Signup
        </button>
        <button
        type="reset"
         class="px-3 py-2 rounded-lg bg-gray-700 text-white hover:bg-orange-800 dark:bg-blue-700 dark:hover:bg-orange-800">
            Reset
        </button>
    </div>
</div>
          </div>
 
    </form>
</div>
    

            </div>

        </div>

    </div>
    <script>
        console.log("Home page");
    </script>
</body>
</html>